In [2]:
import pandas as pd

df = pd.read_csv("Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
pokemon_series = df.describe() #? return a Series object containing the descriptive statistics
pokemon_series.dtypes

#             float64
Total         float64
HP            float64
Attack        float64
Defense       float64
Sp. Atk       float64
Sp. Def       float64
Speed         float64
Generation    float64
dtype: object

In [19]:
# Access multiple column
cdf = pd.DataFrame(df, columns=['HP', 'Attack', 'Defense'])
cdf.shape

(800, 3)

### Locate Data using .loc
`.loc[0:3, ['name', 'age']]` stands for location
-> `df.loc[int:int, list[str]]`

`.iloc[0:3, 0:2]` stands for integer location
-> `df.iloc[int, int]`

`.at[row, column]` like `.loc` but better performance when retrieve 1 value

`iat[0, 1]` like `.iloc` but better performance when retriev 1 value

### Retrieve data by Condition

In [4]:
df[df['HP'] >= df['Attack']]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [5]:
df[(df['HP'] >= 60) & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
53,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
292,269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
605,545,Scolipede,Bug,Poison,485,60,100,89,55,69,112,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [6]:
df_hp = df[df['HP'] < 50]
df_hp.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False

In [7]:
import pandas as pd

# Create a simple pandas Series
example_series = pd.Series([10, 20, 30, 40, 50])
print(example_series)

def increase_hp(row):
    return row * 5

# Using .map to multiply each element by 2
mapped_series = example_series.map(lambda x: x * 5)
print("Mapped Series:")
print(mapped_series)

# Using .apply to multiply each element by 2
applied_series = example_series.apply(increase_hp)
print("\nApplied Series:")
print(applied_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64
Mapped Series:
0     50
1    100
2    150
3    200
4    250
dtype: int64

Applied Series:
0     50
1    100
2    150
3    200
4    250
dtype: int64

In [8]:
# Create a new DataFrame with columns Name, Country, and Grade
students_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Thanh'],
    'Country': ['USA', 'Canada', 'UK', 'Vietname'],
    'Grade': [1, 2, 8, 3]
})

print(students_df)
#? Like group by but for adjacent value which determine by the Windonwn size
# e.g. [1,2,(8,3)] Imagine a windown size 2 group 2 variable together and apply a pandas function to it
#? Center = True mean roll/group value to the center then apply a function
students_df['Grade'].rolling(2, center=True).sum() #? aggregate its neighbour value from left to right (first to last) then apply a function

      Name   Country  Grade
0    Alice       USA      1
1      Bob    Canada      2
2  Charlie        UK      8
3    Thanh  Vietname      3

0     NaN
1     3.0
2    10.0
3    11.0
Name: Grade, dtype: float64

In [9]:
def increase_hp(row):
    row['HP'] *= 5
    return row

df_hp = df_hp.apply(increase_hp, axis=1) # axis = 1 for row, axis=0 for column
df_hp.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,225,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,309,195,52,43,60,50,65,1,False
9,7,Squirtle,Water,NaN,314,220,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,195,225,30,35,20,20,45,1,False
16,13,Weedle,Bug,Poison,195,200,35,30,20,20,50,1,False

In [10]:
df_hp.to_json('poke_hp.json' ,orient='records')

In [11]:
# Check NA value
print(df.isna().sum())
print()
print(df.isnull().sum())

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

### NA Filling technique

Method to use for filling holes in reindexed Series:
+ ffill: propagate last valid observation forward to next valid.
+ backfill / bfill: use next valid observation to fill gap.

In [12]:
import numpy as np

#? .fillna() is deprecated, use ffill or bfill instead
test_df = pd.Series([1,3, np.nan, 4, np.nan, np.nan, 5])

#? fill all NA with the last valid value until the next valid forward/backward)
print(test_df.copy().ffill()) # use the last/final valid observation to fill all missing values from that point, until the next valid valiue
print('mean:', test_df.mean())
print(test_df.copy().bfill()) # use the last/final valid observation to fill all missing values from that point, until the next valid valiue

0    1.0
1    3.0
2    3.0
3    4.0
4    4.0
5    4.0
6    5.0
dtype: float64
mean: 3.25
0    1.0
1    3.0
2    4.0
3    4.0
4    5.0
5    5.0
6    5.0
dtype: float64

### Remove NA

In [13]:
# cleaned_df = df.dropna(subset='Type 2') #? many way to drop na, you can drop the whole column that contain na
# cleaned_df.isna().sum()

In [14]:

# #? split-apply-combine
# df_grass = df.groupby('Type 1')['HP']
# df_grass_median = df_grass.agg('median')
# df_grass_median

In [15]:
new_df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
result = new_df.aggregate({'A': ['sum', 'min'], 'B': ['max', 'mean']})
print(result['A'].isna())

sum     False
min     False
max      True
mean     True
Name: A, dtype: bool